<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.okdrive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="com.okdrive.daemon.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name="com.okdrive.daemon.DaemonService"/>
        <service android:name="com.okdrive.others.DriverService"/>
        <service android:name="com.okdrive.others.GrayInnerService"/>
        <service android:name="com.okdrive.others.UploadDriverDataService"/>

        <receiver android:name="com.okdrive.others.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.okdrive.others.PhoneStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <service android:name="com.okdrive.others.AlarmService"/>

        <receiver android:name="com.okdrive.others.AlarmReceiver"/>

        <service android:name="com.okdrive.others.UploadAlarmService"/>

        <receiver android:name="com.okdrive.others.UploadAlarmReceiver"/>
    </application>

</manifest>
